<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: blue;">

    <a href="../polls/create/">
        <button style="font-size: 20px; padding: 10px 20px;"> New Poll</button>
    </a>

<div>
    {% for poll in polls %}
    <div  style="border:2px; background-color: aliceblue; margin-top:10px;margin-bottom:10px">
        <h2>{{ poll.question }}</h2>
        <div>
            <form method="POST" action="">
            {% csrf_token %}
            {% for choice in choices %}
                {% if choice.poll == poll %}
                    <input type="radio" name="{{ poll.question }}">
                    <label>{{ choice.text }}</label>
                {% endif %}
            {% endfor %}
            <button type="submit">Vote</button>
            </form>
            <label for="">Created by {{ poll.user }}</label>
        </div>
    </div>
{% endfor %}
</div>

</body>
</html>
